[Unit]
Description=Restart Clash Service daily

[Timer]
OnCalendar=*-*-* 20:00:00
Persistent=true
Unit=clash-restart.service

[Install]
WantedBy=timers.target
