[Unit]
Description=Run Clash Service
After=network.target

[Service]
Type=simple
User=%vpnuser%
Restart=on-abort
ExecStart=%clash_exe% -d %clash_dir%
ExecStartPre=-%python_exe% -m subscribe_tool.main -c %config_file% regenerate

[Install]
WantedBy=multi-user.target